<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebTutorial</title>
  
</head>
<body>
    
    <div class="main">
          <div class="sub-1">
              <nav>
                <li><h1>O-Tutorials</h1></li>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/add">Add</a></li>
                <li><a routerLink="/edit">Edit</a></li>
                <li><a routerLink="/delete">Delete</a></li>
              </nav>
          </div>
        
          <router-outlet></router-outlet>
          

          
    </div>
    
</body>
</html>
