*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: fit-content;

    .add-course-form{
        padding: 2%;
        // background-color: bisque;
        label{
            color: grey;
        }
        #id{
       
            padding: .5%;
            border: 1px solid #f0f0f0;
            border-radius: 3px;

        
        }
        #delete{
            margin-left: .2%;
            padding: .5%;
            border: 1px solid #f0f0f0;
            border-radius: 3px;

        }
        #delete:hover{
            background-color: rgb(190, 5, 5);
            color: #f0f0f0;
            cursor: pointer;
        }
    }
}